page-listas-tablero {
    .item_md{
        padding-right: 16px;
    }

    .fondo_1{ background-color: rgb(237, 85, 101) !important; color: #FFFFFF !important;  }
    .fondo_2{ background-color: rgb(218, 68, 83) !important; color: #FFFFFF !important;  }
    .fondo_3{ background-color: rgb(233, 87, 63) !important; color: #FFFFFF !important;  }
    .fondo_4{ background-color: rgb(255, 206, 84) !important; color: #FFFFFF !important;  }
    .fondo_5{ background-color: rgb(246, 187, 66) !important; color: #FFFFFF !important;  }
    .fondo_6{ background-color: rgb(160, 212, 104) !important; color: #FFFFFF !important;  }
    .fondo_7{ background-color: rgb(140, 193, 82) !important; color: #FFFFFF !important;  }
    .fondo_8{ background-color: rgb(72, 207, 173) !important; color: #FFFFFF !important;  }
    .fondo_9{ background-color: rgb(55, 188, 155) !important; color: #FFFFFF !important; }
    .fondo_10{ background-color: rgb(79, 193, 233) !important; color: #FFFFFF !important; }
    .fondo_11{ background-color: rgb(59, 175, 218) !important; color: #FFFFFF !important; }
    .fondo_12{ background-color: rgb(93, 156, 236) !important; color: #FFFFFF !important; }
    .fondo_13{ background-color: rgb(74, 137, 220) !important; color: #FFFFFF !important; }
    .fondo_14{ background-color: rgb(172, 146, 236) !important; color: #FFFFFF !important; }
    .fondo_15{ background-color: rgb(150, 122, 220) !important; color: #FFFFFF !important; }
    .fondo_16{ background-color: rgb(236, 135, 192) !important; color: #FFFFFF !important; }
    .fondo_17{ background-color: rgb(215, 112, 173) !important; color: #FFFFFF !important; }
    .fondo_18{ background-color: rgb(245, 247, 250) !important; color: #FFFFFF !important; }
    .fondo_19{ background-color: rgb(230, 233, 237) !important; color: #FFFFFF !important; }
    .fondo_20{ background-color: rgb(169, 171, 171) !important; color: #FFFFFF !important; }
    .fondo_21{ background-color: rgb(101, 109, 120) !important; color: #FFFFFF !important; }

    .color_texto_blanco{
        color: #FFFFFF !important;
    }

    
}
